body{
    font-family: 'Roboto', sans-serif;
     font-size: 16px;
     color: #333;
    line-height: 1.5;
}



.registro{
   max-width: 300px;
    margin: 50px auto; /* Centraliza horizontalmente */
    padding: 20px 26px;
    background-color: #fff; /* Fundo branco para contraste */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}



.registro label{
    font-weight: bold;
    display: block;
}


.error-list {
    color: red;
    font-size: 14px;
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: none;
}

.error-list li {
    margin-bottom: 5px;
}

.registro h1{
     font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #0056b3;
    margin-bottom: 10px;
}

.registro p {
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #222222;
    margin-top : 20px;
}

.registro form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.requerimentos-senha{
list-style: none; /* Remove os marcadores padrão */
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.requerimentos-senha li{
margin-bottom: 8px; /* Espaçamento entre os itens */
    display: flex;
    align-items: center;
     line-height: 1.5;
}

.requirement-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    background-color: #4CAF50; /* Cor do ícone (verde) */
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}
#
.requerimentos-senha li:hover {
    color: #333; /* Cor do texto ao passar o mouse */
    font-weight: bold; /* Destacar ao passar o mouse */
}

.registro button{
    background-color: darkslategray;
    color: #e6f7ff;
    cursor: pointer;
    padding: 3px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.registro button:active {
    /* Animação leve ao pressionar o botão */
    transform: scale(0.95); /* Reduz o tamanho levemente */
}
