* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
     font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #F8F9FA;
    color: #2B2D42;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.container {
    flex: 1;
    padding: 80px 20px;
    text-align: center;
}


header {
height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    color: #2B2D42;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.chat-page .menu-btn {
    display: none !important;
}

.history-msg {
    display: none; /* 游댠 Esconde o hist칩rico quando a sidebar estiver fechada */
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
    margin-top: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-20px);
}

#sidebar.open_sidebar .history-msg {
    display: block; /* 游댠 Exibe o hist칩rico apenas quando a sidebar estiver aberta */
    opacity: 1;
    transform: translateX(0);
}

.history-msg h3 {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.history-msg ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-msg ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f1f1f1; /* Cinza claro */
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background 0.3s ease;
}

.history-msg ul li:hover {
    background-color: #e0e0e0;
}

.history-msg ul li a {
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

.history-msg ul li .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: red;
    transition: color 0.3s ease;
}

.history-msg ul li .delete-btn:hover {
    color: darkred;
}

#new-chat-btn {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-top: 10px;
}

#new-chat-btn:hover {
    background-color: #3730a3;
}

.chat-container {
    display: flex;
    width: calc(100% - 332px);
    height: calc(100vh - 70px);
    display: flex;
    height: calc(100dvh - 70px);
    margin-left: 250px;
    flex-direction: column;
    overflow: hidden;
    top: 0;
    position: fixed;
    background-color: #f8f8f8;

}

/* Hist칩rico de mensagens */
.chat-history {
    flex: 1;
    margin-top:60px;
    padding: 5px;
    overflow-y: auto;
    background-color: #F8F9FA;
    color: #2B2D42;
    border-bottom: 1px solid #3b3b5e;
}

/* Mensagens do hist칩rico */
.chat-history .message {
    margin-bottom: 10px;
    line-height: 1.5;
}

.chat-history .message strong {
    color: #000000;
}

.chat-history::-webkit-scrollbar {
    width: 10px;
}

.chat-history::-webkit-scrollbar-track {
    background: #E9ECEF;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 5px;
}

.chat-history::-webkit-scrollbar-thumb {
    background: #B0B3B8;
    border-radius: 3px;
}

.chat-history::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.chat-history p{
    margin-top: 20px;
}

.chat-form {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    padding: 10px;
    background-color: #E9ECEF;
    border-top: 1px solid #DEE2E6;
    position: fixed;
    bottom: 0;
    left: 50px; /* Ajusta alinhamento com o hist칩rico */
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.chat-form form {
    display: flex;
    width: 100%;
}

.chat-form textarea {
    flex: 0.8;
    padding: 10px;
    font-size: 16px !important;
    border: 1px solid #3b3b5e;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #2B2D42;
    touch-action: manipulation;
    resize: none;
    margin-left: 200px;
    overflow: auto;
    min-height: 60px;
    max-height: 300px;
}

.chat-form button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #3b3b5e;
    color: #e0e0e0;
    border: none;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.3s ease;
}

.chat-form .arrow-up{
    font-size: 20px;
}

.chat-form button:hover {
    background-color: #4c4c7f;
}

.message_user {
    text-align: right;
    background-color: #007BFF; /* Fundo azul claro */
    color: #FFFFFF; /* Texto azul escuro */
    padding: 10px 15px;
     max-width: 70%;
     word-wrap: break-word;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-left: auto; /* Empurra para a direita */
}

.message_bot {
    text-align: left;
    background-color: #E9ECEF;
    color: #2B2D42; /* Fundo cinza claro */
    word-wrap: break-word;/* Texto cinza escuro */
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-right: auto; /* Empurra para a esquerda */
}

.side-menu {
position: fixed;
top: 0;
left: 0;
width: 70%; /* O menu cobre 70% da tela */
max-width: 300px; /* Limita a largura m치xima */
height: 100%;
background-color: #1e1e2e;
color: #e0e0e0;
z-index: 1500;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
transform: translateX(-100%); /* Esconde o menu fora da tela */
transition: transform 0.3s ease-in-out;
padding: 20px;
overflow-y: auto; /* Adiciona rolagem caso o conte칰do exceda a altura */
}

/* Exibe o menu quando ativo */
.side-menu.active {
    transform: translateX(0); /* Mostra o menu */
}

/* T칤tulos e listas no menu */
.side-menu h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin-bottom: 15px;
}

.side-menu ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.side-menu ul li a:hover {
    color: #ffffff;
}
.hidden {
    transform: translateX(-100%); /* Mant칠m o menu escondido */
}

.mobile-history{
    display: none;
}


@media (max-width: 768px) {

header {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Espa칞a os itens: bot칚o  esquerda, logo ao centro */
    padding: 10px 20px; /* Adiciona espa칞amento interno */
    background-color: #FFFFFF; /* Cor de fundo do header */
    color: #e0e0e0; /* Cor do texto */
    height: 60px; /* Altura do header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.menu {
    position: absolute;
    top: 40px;
    left: 15px;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do logo */
.logo {
    flex: 1; /* Faz com que o logo ocupe o espa칞o central */
    text-align: center; /* Centraliza o logo no centro */
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0;
}

.logo a{
    display: inline-block;
}

.history-msg {
    display: none; /* Esconde o hist칩rico para dispositivos m칩veis */
}

.mobile-history {
    display: none; /* Esconde o menu m칩vel por padr칚o */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E9ECEF;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}


.chat-form {
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 15px;
    background-color: #E9ECEF;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* O formul치rio ocupa toda a largura */
    z-index: 1000; /* Certifica que est치 sobre outros elementos */
}

.chat-form textarea {
    flex: 1; /* O textarea ocupa o espa칞o dispon칤vel */
    margin-right: 10px; /* Espa칞o entre o textarea e o bot칚o */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 0;
    border: 1px solid #3b3b5e;
    border-radius: 5px;
    touch-action: manipulation;
    background-color: #FFFFFF;
    color: #2B2D42;
    resize: none; /* Desativa o redimensionamento */
    height: 40px; /* Altura do textarea */
}

/* Configura칞칚o do bot칚o */
.chat-form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 60px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-history h3 {
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: #e0e0e0;
    }

.mobile-history ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2a2a40;
    border-radius: 5px;
    width: 90%;
    text-align: center;
}
    .chat-container {
        width: 100%;
        margin-left: 0;
        
}
.chat-history{
    padding-bottom: 60px;
}


.message_user,
.message_bot {
    padding: 5px 22px;
    font-size: 14px;
}


}
@media screen and (max-width: 768px) {
    .desktop-only {
        display: none; /* Esconde o hist칩rico desktop */
        
    }


}

