{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Especialidade</title>
    <link rel="stylesheet" href="{% static 'css/gpp.css' %}">
</head>
<body>

    {% include 'usuarios/partials/nav.html' %}

   <div class="especialidade_edit">
        <h2>Editar Especialidade</h2>
    
        <form method="POST" action="{% url 'editar_especialidade' especialidade.cod_especialidade %}">
            {% csrf_token %}
            <label for="descricao">Nome da Especialidade:</label>
            <input type="text" id="descricao" name="descricao" value="{{ especialidade.descricao }}" required>
            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>
