{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Especialidade{% else %}Nova Especialidade{% endif %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include 'usuarios/partials/nav.html' %}
    <div class="container mt-5">
        <h2>{% if form.instance.pk %}Editar Especialidade{% else %}Nova Especialidade{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'lista_especialidades' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    {% include 'usuarios/partials/footer.html' %}
</body>
</html>
