{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - QuickEAM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'favicon/favicon_2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="chat-page">
    
    {% include 'usuarios/partials/sidebar.html' %}
    {% include 'usuarios/partials/nav.html'%}
    {%include 'usuarios/partials/rightbar.html'%}
    <div>
        
        {% include 'usuarios/partials/_mobile_history.html' %}
    </div>

    <div class="chat-container">
        <div class="chat-history" id="chatHistory">
            {% for chat in chat_history %}
                <div class="message_user">
                    <p><strong>Você:</strong> {{ chat.question }}</p>
                </div>
                <div class="message_bot">
                    <p><strong>Manuela:</strong></p>
                    <span class="bot-response">
                        {{ chat.answer|safe }}
                    </span>
                    <button class="copy-btn" onclick="copyToClipboard(this)">📋 Copiar</button>
                </div>
                
                
            {% empty %}
                <p>Sem mensagens ainda nesta conversa.</p>
            {% endfor %}
            <div id="loading-indicator" class="loading-indicator" style="display: none;">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="chat-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Botão de anexar arquivos -->
                <label for="file_input" class="file-label">
                    🖇️
                </label>
                <input type="file" id="file_input" name="file" accept="image/*, .pdf, .docx, .xlsx" style="display: none;">
                
                <!-- Área de digitação -->
                <textarea id="message_area" name="message" placeholder="Digite sua mensagem..."></textarea>
                
                <!-- Botão de enviar -->
                <button id="submitbutton" type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>
        </div>
   
    <script src="{% static 'js/chat.js' %}"></script>
    
</body>
</html>
