{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Excluir Usuário</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
    <header>
        <h1>Confirmação de Exclusão</h1>
    </header>
    <main>
        <p>Tem certeza de que deseja excluir {{ usuario.nome }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Sim, Excluir</button>
        </form>
        <a href="{% url 'listar_usuarios' %}">Cancelar</a>
    </main>
</body>
</html>
