{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
    <header>
        <h1>{{ titulo }}</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </main>
    <footer>
        <a href="{% url 'listar_usuarios' %}">Voltar para a Lista</a>
    </footer>
</body>
</html>
