{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login - QuickEAM</title>
</head>
<body>
<header>
    <button id="menuToggle" class="menu-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <nav id="menu" class="menu hidden">
        <ul>
            <li><a href="{% url 'register' %}">Cadastrar-se</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="#">Serviços</a></li>
        </ul>
    </nav>
    <div class="logo">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo_homepage.png' %}" alt="Logo">
        </a>
    </div>
</header>
<div class="login">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" class="password-field">
        <button type="button" class="toggle-password" onclick="togglePassword('password')">👁️</button>

        <label for="idioma">Idioma:</label>
        <select name="idioma" id="idioma">
            <option value="en">English</option>
            <option value="pt-br" selected>Português</option>
            <option value="es">Español</option>
        </select>
        
        <button type="submit">Entrar</button>

        <a href="{% url 'password_reset_request' %}">Esqueceu sua senha?</a>
    </form>
    {% if errormessage %}
        <div class="senha-errada">
            {{ errormessage }}
        </div>
    {% endif %}
    <p>Novo na QuickEAM? <a href="{% url 'register' %}">Cadastre-se aqui</a>.</p>
</div>
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 QuickEAM. Todos os direitos reservados.</p>
        <ul class="footer-links">
            <li><a href="#">Termos de Uso</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</footer>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>