{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <title> Cadastro - QuickEAM</title>
</head>
<body>
    {% include 'usuarios/partials/nav.html'%}

<div class="registro">
    <h1>Cadastro</h1>
    <p>Crie sua conta para acessar o sistema da QuickEAM.</p>

    <form method="post">
        {% csrf_token %}

        <!-- Exibir erros gerais do formulário -->
        {% if form.non_field_errors %}
            <ul class="error-list">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Campo de usuário -->
                <label for="username">Usuário ou CNPJ:</label>
        <input type="text" id="username" name="username" value="{{ form.username.value|default:'' }}">
        {% if form.username.errors %}
            <ul class="error-list">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Campo de e-mail -->
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" value="{{ form.email.value|default:'' }}">
        {% if form.email.errors %}
            <ul class="error-list">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Campo de senha -->
            <label for="password1">Senha:</label>
        <input type="password" id="password1" name="password1">
        <ul class="requerimentos-senha">
            <li><i class="requirement-icon"></i>A Senha deve conter pelo menos um número.</li>
            <li><i class="requirement-icon"></i>A Senha deve conter pelo menos um caractere especial.</li>
            <li><i class="requirement-icon"></i>Essa senha deve conter pelo menos uma Letra Maiúscula.</li>
            <li><i class="requirement-icon"></i>Essa senha deve conter pelo menos uma Letra Maiúscula.</li>

        </ul>
        {% if form.password1.errors %}
        <ul class="error-list">
            {% for error in form.password1.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Campo de confirmação de senha -->
        <label for="password2">Confirmação de senha:</label>
        <input type="password" id="password2" name="password2">
        {% if form.password2.errors %}
            <ul class="error-list">
                {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit">Cadastrar</button>
    </form>
</div>

<script src="{% static 'js/registro.js' %}"></script>
</body>
</html>
